In [1]:
import os
import numpy as np
import pandas as pd
from datetime import datetime
import matplotlib.pyplot as plt

In [11]:
#rain_df = pd.read_csv('./sitka_data/Airport_new/airport_new_wind.csv', header=10, low_memory=False)

rain_df = pd.read_csv('./sitka_data/Airport_new/cleaned_data/airport_cleaned_hourly_wind.csv', low_memory=False)

In [12]:
rain_df

,Date_Time,wind_speed_meter_sec,wind_direction_x,wind_direction_y,precip_accum_one_hour_mm
0,2002-11-06 08:00:00,6.690000,0.984808,-0.173648,0.000
1,2002-11-06 09:00:00,9.770000,0.939693,-0.342020,0.000
2,2002-11-06 12:00:00,8.750000,0.866025,-0.500000,0.000
3,2002-11-06 13:00:00,8.230000,0.866025,-0.500000,0.254
4,2002-11-06 14:00:00,9.600000,0.286803,-0.957990,2.794
...,...,...,...,...,...
68458,2023-03-23 21:00:00,1.463077,0.999048,0.043619,0.508
68459,2023-03-23 22:00:00,1.123750,0.999048,-0.043619,0.025
68460,2023-03-24 09:00:00,3.602857,0.840026,-0.542546,0.025
68461,2023-03-24 10:00:00,3.567333,0.877425,-0.479713,0.025
68462,2023-03-24 11:00:00,2.755714,0.951824,-0.306645,0.254

In [13]:
rain_df["Date_Time"] = pd.to_datetime(rain_df["Date_Time"])

# rain_df.loc[rain_df['UTC_TIME']==0,'UTC_TIME'] = '0000'
# rain_df['Date_Time'] = rain_df['UTC_DATE'].astype(str) + ' ' + rain_df['UTC_TIME'].astype(str)
# rain_df['Date_Time'] = pd.to_datetime(rain_df["Date_Time"], utc=True, format='%Y%m%d %H%M')

In [38]:
# modulo
#rain_df = rain_df[(rain_df["precip_accum_one_hour_mm"]*1000)%(0.254*1000) == 0]

In [5]:
# rain_df['wind_direction_x'] = rain_df['wind_direction_degree']
# rain_df['wind_direction_y'] = rain_df['wind_direction_degree']

In [14]:
# cleaned_df = rain_df.resample('1H', on="Date_Time").agg({'precip_accum_one_hour_mm': np.max, 
#                                                          'wind_speed_meter_sec': np.mean, 
#                                                          'wind_direction_degree': np.mean,
#                                                          'wind_direction_x': np.mean,
#                                                          'wind_direction_y': np.mean
#                                                         })

cleaned_df = rain_df.resample('3H', on="Date_Time", origin='start_day').agg({'precip_accum_one_hour_mm': np.sum, 
                                                         'wind_speed_meter_sec': np.mean, 
                                                         'wind_direction_x': np.mean, 
                                                         'wind_direction_y': np.mean})


cleaned_df.dropna(subset=['precip_accum_one_hour_mm'], inplace=True)

In [8]:
# cleaned_df.loc[cleaned_df['wind_direction_degree'] <= 90, 'wind_direction_x'] = np.cos(np.radians(90-cleaned_df['wind_direction_degree']))
# cleaned_df.loc[cleaned_df['wind_direction_degree'] <= 90, 'wind_direction_y'] = np.sin(np.radians(90-cleaned_df['wind_direction_degree']))

# cleaned_df.loc[(cleaned_df['wind_direction_degree'] > 90) & 
#              (cleaned_df['wind_direction_degree'] <= 180), 'wind_direction_x'] = np.sin(np.radians(180-cleaned_df['wind_direction_degree']))
# cleaned_df.loc[(cleaned_df['wind_direction_degree'] > 90) & 
#              (cleaned_df['wind_direction_degree'] <= 180), 'wind_direction_y'] = -np.cos(np.radians(180-cleaned_df['wind_direction_degree']))

# cleaned_df.loc[(cleaned_df['wind_direction_degree'] > 180) & 
#              (cleaned_df['wind_direction_degree'] <= 270), 'wind_direction_x'] = -np.cos(np.radians(270-cleaned_df['wind_direction_degree']))
# cleaned_df.loc[(cleaned_df['wind_direction_degree'] > 180) & 
#              (cleaned_df['wind_direction_degree'] <= 270), 'wind_direction_y'] = -np.sin(np.radians(270-cleaned_df['wind_direction_degree']))

# cleaned_df.loc[(cleaned_df['wind_direction_degree'] > 270) & 
#              (cleaned_df['wind_direction_degree'] <= 360), 'wind_direction_x'] = -np.sin(np.radians(360-cleaned_df['wind_direction_degree']))
# cleaned_df.loc[(cleaned_df['wind_direction_degree'] > 270) & 
#              (cleaned_df['wind_direction_degree'] <= 360), 'wind_direction_y'] = np.cos(np.radians(360-cleaned_df['wind_direction_degree']))

In [15]:
cleaned_df

,precip_accum_one_hour_mm,wind_speed_meter_sec,wind_direction_x,wind_direction_y
Date_Time,,,,
2002-11-06 06:00:00,0.000,6.690000,0.984808,-0.173648
2002-11-06 09:00:00,0.000,9.770000,0.939693,-0.342020
2002-11-06 12:00:00,3.048,8.860000,0.672951,-0.652663
2002-11-06 15:00:00,1.778,4.743333,0.564370,-0.748878
2002-11-06 18:00:00,0.508,2.515556,0.637579,0.142455
...,...,...,...,...
2023-03-23 21:00:00,0.533,1.293413,0.999048,0.000000
2023-03-24 00:00:00,0.000,NaN,NaN,NaN
2023-03-24 03:00:00,0.000,NaN,NaN,NaN
2023-03-24 06:00:00,0.000,NaN,NaN,NaN
2023-03-24 09:00:00,0.304,3.308635,0.889758,-0.442968

In [16]:
cleaned_df.to_csv('./sitka_data/Airport_new/cleaned_data/airport_cleaned_3_hour_wind.csv', columns=["wind_speed_meter_sec", 
                                                                                                    "wind_direction_x", "wind_direction_y", 
                                                                                                    "precip_accum_one_hour_mm"], date_format='%Y-%m-%d %H:%M:%S')



#cleaned_df.to_csv('./sitka_data/USCRN_new/cleaned_data/uscrn_cleaned_3_hour.csv', columns=["P_CALC"], date_format='%Y-%m-%d %H:%M:%S')