In [25]:
import os
import numpy as np
import pandas as pd
from datetime import datetime

In [46]:
rain_df = pd.read_csv('./sitka_data/PASI.2022-02-16_edited.csv')#, header=4, low_memory=False)
#rain_df = pd.read_csv('./sitka_data/usgs_sitka_pp.csv', header=4, low_memory=False)

In [40]:
rain_df

,Epoch,Date,rain_mm,SP1_VWC_50cm,SP1_VWC_25cm,SP2_VWC_40cm,SP2_VWC_20cm,Sitka_waterPressure_psig_sp1_55cm,Sitka_waterPressure_psig_sp2_60cm,rain_cleaned
0,1568766300,2019-09-18 00:25:00,0.0,-0.005,0.107,0.234,0.216,NaN,0.121994,0.0
1,1568766600,2019-09-18 00:30:00,0.0,-0.004,0.101,0.235,0.216,NaN,0.122703,0.0
2,1568766900,2019-09-18 00:35:00,0.0,0.183,0.098,0.216,0.235,NaN,0.123643,0.0
3,1568767200,2019-09-18 00:40:00,0.0,0.175,0.098,0.216,0.231,-0.001074,0.124945,0.0
4,1568767500,2019-09-18 00:45:00,0.0,0.179,0.106,0.216,0.230,-0.001543,0.125396,0.0
...,...,...,...,...,...,...,...,...,...,...
243631,1657222800,2022-07-07 19:40:00,0.0,0.201,0.112,0.205,0.224,-0.003938,-0.304056,0.0
243632,1657223100,2022-07-07 19:45:00,0.0,0.200,0.112,0.205,0.224,-0.003734,-0.303678,0.0
243633,1657223400,2022-07-07 19:50:00,0.0,0.200,0.111,0.205,0.224,-0.004,-0.303756,0.0
243634,1657223700,2022-07-07 19:55:00,0.0,0.201,0.111,0.205,0.224,-0.003932,-0.304125,0.0
243635,1657224000,2022-07-07 20:00:00,0.0,0.201,0.111,0.205,0.224,-0.003893,-0.304446,0.0

In [47]:
date_index_col = "Date_Time"
rainfall_col = "rain_mm"
rain_df[date_index_col] = pd.to_datetime(rain_df[date_index_col])
rain_df["rain_cleaned"] = np.zeros(len(rain_df[date_index_col]))
cleaned_df = pd.DataFrame()

In [48]:
jj=0
for ii in range(len(rain_df)):
    if ii < jj:
        continue
    date = rain_df[date_index_col][ii].date()
    time = rain_df[date_index_col][ii].time()
    if jj<(len(rain_df[date_index_col])-1):
        jj = ii+1
    while (date==rain_df[date_index_col][jj].date())&(time.hour==rain_df[date_index_col][jj].time().hour)&(jj<(len(rain_df[date_index_col])-1)):
        jj+=1
    rain_df["rain_cleaned"][ii] = np.max(rain_df[rainfall_col][ii:jj])
    #rain_df[date_index_col][ii] = rain_df[date_index_col][ii].replace(minute=0, second=0, microsecond=0) #might need to be fixed
    rain_df[date_index_col][ii] = rain_df[date_index_col][ii].floor('H')
    cleaned_df = cleaned_df.append(rain_df.iloc[[ii]])

/var/folders/q1/3y9v4v5j6278x9cbkddxcnfc0000gs/T/ipykernel_79636/290193146.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rain_df["rain_cleaned"][ii] = np.max(rain_df[rainfall_col][ii:jj])
/var/folders/q1/3y9v4v5j6278x9cbkddxcnfc0000gs/T/ipykernel_79636/290193146.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rain_df[date_index_col][ii] = rain_df[date_index_col][ii].floor('H')

In [49]:
cleaned_df

                       Date_Time     Date         Time  rain_mm  rain_cleaned
0      2002-11-05 20:00:00+00:00  11/5/02   8:50:00 PM      0.0         0.000
1      2002-11-05 21:00:00+00:00  11/5/02   9:50:00 PM      0.0         0.000
2      2002-11-05 22:00:00+00:00  11/5/02  10:50:00 PM      0.0         0.000
3      2002-11-05 23:00:00+00:00  11/5/02  11:50:00 PM      0.0         0.000
4      2002-11-06 00:00:00+00:00  11/6/02  12:50:00 AM      0.0         0.000
...                          ...      ...          ...      ...           ...
743950 2022-02-15 20:00:00+00:00  2/15/22   8:00:00 PM      0.0         0.508
743963 2022-02-15 21:00:00+00:00  2/15/22   9:00:00 PM      0.0         0.254
743979 2022-02-15 22:00:00+00:00  2/15/22  10:00:00 PM      0.0         0.025
743993 2022-02-15 23:00:00+00:00  2/15/22  11:00:00 PM      0.0         0.000
744007 2022-02-16 00:00:00+00:00  2/16/22  12:00:00 AM      0.0           NaN

[167556 rows x 5 columns]

In [50]:
cleaned_df.to_csv('./sitka_data/cleaned_rain_floor.csv', date_format='%Y-%m-%d %H:%M:%S')